/* Базовые стили страницы */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ffe4ec, #ffb6c1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.calculator {
  background: #fff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 320px;
}

.display {
  background: #ffe4ec;
  border-radius: 15px;
  padding: 20px;
  font-size: 32px;
  text-align: right;
  margin-bottom: 20px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}

.keys {
  display: grid;
  gap: 12px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}


.key {
  border: none;
  border-radius: 50%;
  background-color: #ffb6c1;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  cursor: pointer;
  transition: all 0.15s ease;
}


.key:hover {
  background-color: #ff99aa;
}


.key:active {
  transform: scale(0.95);
}


.operator {
  background-color: #ff85a2;
  color: #fff;
}

.operator:hover {
  background-color: #ff5c85;
}

.function {
  background-color: #ffe4ec;
  color: #333;
}

.wide {
  grid-column: span 2;
  border-radius: 30px;
}

#equ {
    background-color:rgb(194, 54, 89);
}